<h1>IMU DATA</h1>
<h2>Gyroscope</h2>
<span>Roll: </span>{{gyroscope.roll}}<br>
<span>Pitch: </span>{{gyroscope.pitch}}<br>
<span>Yaw: </span>{{gyroscope.yaw}}<br>
<h2>Compass</h2>
<span>X: </span>{{compass.x}}<br>
<span>Y: </span>{{compass.y}}<br>
<span>Z: </span>{{compass.z}}<br>
<h2>Accelerometer</h2>
<span>x: </span>{{accelerometer.x}}<br>
<span>y: </span>{{accelerometer.y}}<br>
<span>z: </span>{{accelerometer.z}}<br>

<h2>Temperature and Pressure</h2>
<span>Temperature: </span>{{temperature}}<br>
<span>Pressure: </span>{{pressure}}<br>
<span></span>

<h2>Fusion Pose</h2>
<span>Roll: </span>{{fusionPose.roll}}<br>
<span>Pitch: </span>{{fusionPose.pitch}}<br>
<span>Yaw: </span>{{fusionPose.yaw}}<br>

<h2>Fusion Q Pose</h2>
<span>Roll: </span>{{fusionQPose.roll}}<br>
<span>Pitch: </span>{{fusionQPose.pitch}}<br>
<span>Yaw: </span>{{fusionQPose.yaw}}<br>

<!-- {{imuData}} -->
