<div class="">
	<span>Semaforo</span>
	<div class="container">
	<div class="circle border-style border-width border-color-green handOver" ng-class="{'background-green': leds.green}" ng-click="click('green')"></div>
	<div class="circle border-style border-width border-color-yellow handOver" ng-class="{'background-yellow': leds.yellow}" ng-click="click('yellow')"></div>
	<div class="circle border-style border-width border-color-red handOver" ng-class="{'background-red': leds.red}" ng-click="click('red')"></div>
	</div>
</div>