<div id="home">
	<div class="col-md-12 padding-10">
		<div class="team_name" style="float:right;padding:5px;">
			SAPIENZA TECHNOLOGY TEAM
		</div>
	</div>
	<div class="col-md-12 padding-10">
		<div class="team_name" style="float:right;padding:5px;font-size:60px;">
			SMALL SCOUT ROVER PROJECT
		</div>
	</div>

	<div class="col-md-9 col-xs-12 padding-10">
	</div>
	<div class="col-md-3 col-xs-12 padding-10">
		<div class="col-md-12 navbox" ng-click="go();" ng-class="{'handOver':hoveringOnlyData,'buttonSelected':task==1}" ng-mouseenter="hoveringOnlyData=true"ng-mouseleave="hoveringOnlyData=false">
			<div class="col-md-12  padding-10 title"  style="padding:3px;">
				Start Ground Control System
			</div>
		</div>
	</div>
</div>
